<ion-content>
  <!-- Contenedor de recetas -->
  <div class="recetas-container">
    <!-- Receta 1 -->
    <div class="receta-card">
      <h3 class="receta-title">Receta de Analgésico</h3>
      <p><strong>Enfermedad:</strong> Dolor muscular</p>
      <p><strong>Medicamento:</strong> Ibuprofeno</p>
      <p><strong>Tiempo de tratamiento:</strong> 7 días</p>
      <p><strong>Fecha límite:</strong> 12/12/2024</p>
      <p><strong>Descripción:</strong> Tomar una tableta cada 6 horas con alimentos.</p>
    </div>
    <!-- Receta 2 -->
    <div class="receta-card">
      <h3 class="receta-title">Receta para Tos</h3>
      <p><strong>Enfermedad:</strong> Tos crónica</p>
      <p><strong>Medicamento:</strong> Jarabe expectorante</p>
      <p><strong>Tiempo de tratamiento:</strong> 10 días</p>
      <p><strong>Fecha límite:</strong> 20/12/2024</p>
      <p><strong>Descripción:</strong> Tomar 2 cucharadas cada 8 horas.</p>
    </div>
    <!-- Receta 3 -->
    <div class="receta-card">
      <h3 class="receta-title">Receta para Hipertensión</h3>
      <p><strong>Enfermedad:</strong> Hipertensión</p>
      <p><strong>Medicamento:</strong> Losartán</p>
      <p><strong>Tiempo de tratamiento:</strong> 30 días</p>
      <p><strong>Fecha límite:</strong> 31/12/2024</p>
      <p><strong>Descripción:</strong> Tomar una cápsula cada mañana.</p>
    </div>
  </div>
  <ion-button expand="block" color="primary" class="footer-button" [routerLink]="['/inicio']">
    Volver
  </ion-button>
</ion-content>
