/* Evitar scroll */
ion-content {
  overflow: hidden; /* Bloquea scroll */
  display: flex;
  flex-direction: column;
}

/* Contenedor principal fijo */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda la pantalla */
  justify-content: space-between; /* Espacia los elementos uniformemente */
}

/* Contenedor superior dividido */
.top-container {
  display: flex;
  height: 20%; /* Ocupa el 20% de la altura */
}

.left-section {
  flex: 3; /* Proporción 3/4 */
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  flex: 1; /* Proporción 1/4 */
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
    font-size: 24px; /* Tamaño de texto grande */
    height: 120px; /* Altura grande para los botones */
  }
  
  .button-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* Tres filas de tamaño igual */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    grid-gap: 10px; /* Espacio entre botones */
    padding: 20px; /* Margen de la cuadrícula */
    height: 85vh; /* La altura debe ocupar toda la pantalla */
  }
  
  .big-button {
    font-size: 28px; /* Tamaño de texto aún más grande */
    height: 100%; /* Ocupa todo el espacio disponible */
  }
  
.custom-modal {
  --width: 90%;
  --height: 50%;
  --border-radius: 12px;
  --background: white;
  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  --margin-top: 20px; /* Asegúrate de que no esté fuera de la pantalla */
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 100%; /* Asegura que ocupe todo el espacio disponible */
  padding: 16px;
}

.large-button {
  font-size: 1.5rem; /* Tamaño de texto grande */
  height: 90px; /* Altura considerable */
  margin: 8px 0; /* Separación entre botones */
  --border-radius: 12px; /* Esquinas redondeadas */
}


.modal-content p {
  font-size: 18px;
  margin-bottom: 16px;
}


