<ion-content>
  <!-- Contenedor principal con diseño fijo -->
  <div class="main-container">
    <!-- Contenedor superior dividido -->
    <div class="top-container">
      <div class="left-section">
        <p>RELOJ</p>
      </div>
      <div class="right-section">
        <p>BATERIA</p>
      </div>
    </div>

    <!-- Botones -->
    <div class="button-grid">
      <ion-button class="big-button" expand="block" (click)="onButtonClick(1)">
        <ion-icon name="call-outline"></ion-icon>
      </ion-button>
      <ion-button class="big-button" expand="block" (click)="onButtonClick(2)">
        <ion-icon name="medkit-outline"></ion-icon>
      </ion-button>
      <ion-button class="big-button" expand="block" (click)="onButtonClick(3)">
        <ion-icon name="alarm-outline"></ion-icon>
      </ion-button>
      <ion-button class="big-button" expand="block" (click)="onButtonClick(4)">
        <ion-icon name="mic-circle-outline"></ion-icon>
      </ion-button>
      <ion-button class="big-button" expand="block" (click)="onButtonClick(5)">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-button>
      <ion-button class="big-button" expand="block" (click)="onButtonClick(6)">
        <img src="../../../assets/icon/img.jpg" alt="">
      </ion-button>
    </div>
  </div>
</ion-content>